{% extends 'index.html' %}



{% block content %}

    <a href="/">Back</a>
    <h1>Create New Post</h1>
    <form action="/new" method="post">
        <fieldset>
            <legend>Create New Post</legend>
            <label for="title">Title</label><br />
                <div class="input1">
                    <input type="text" name="title" id="title" value="{{title}}">
                </div> 
                {% if error['titleEmpty'] %}
                    <p class="error">{{ error['noTitle'] }}</p>
                {% endif %}
            <br>    
            <div class="input1">
                <textarea name="body" id="body" cols="100" rows="10">{{body}}</textarea>
            </div>
            {% if error['bodyEmpty'] %}
                <p class="error">{{ error['noBody'] }}</p>
            {% endif %}
            <input type="submit" value="enter">
        </fieldset>
    </form>




{% endblock %}   